<!doctype html>
<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet'>
        <link rel='stylesheet' type='text/css' href='../statics/css/dashboard.css'>
    </head>
    <body>
        <div id='header'>

        </div>
        <div id='body'>
            <div class='add-url' id='add-url'>
                <input type='text' id='new-url-link'>
                <div id='add-icon'>
                    <p> Shorten </p>
                </div>
            </div>
            <div id='url-containers'>
                <div id='label-bar'>
                    <p class='created-date-unit' id='label-created-date'> Created On </p>
                    <p class='last-modified-unit' id='label-last-modified'> Last Modified </p>
                    <p class='shortened-url-unit' id='label-shortened-url'> Shortened Url </p>
                    <p class='redirect-url-unit' id='label-redirect-url'> Redirect Route </p>
                    <p id='label-actions'> Actions </p>
                </div>
            {% for url in urls %}
                <div class='url' id='{{ url.short }}'>
                    <div id='created-date' class='created-date-unit'>
                        <p> 01/01/1970 00:01 </p>
                    </div>
                    <div id='modified-date' class='last-modified-unit'>
                        <p> 01/01/1970 00:01 </p>
                    </div>
                    <div id='shortened-url' class='shortened-url-unit'>
                        <p> shorturl </p>
                    </div>
                    <div id='redirect-url' class='redirect-url-unit'>
                        <input type='text' class='redirect-url-unit' id='redirect-url-input-field'>
                    </div>
                    <img id='edit-icon' src='../statics/images/edit_black.png'>
                    <img id='remove-icon' src='../statics/images/clear_black.png'>
                </div>
            {% endfor %}
                
            </div>
        </div>
    </body>
</html>
