<!doctype html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
        <link rel='stylesheet' type='text/css' href='../statics/css/index.css'>
        <!-- scripts -->
        <script src='jquery.js'></script>
    </head>
    <body>
        <div id='header'>

        </div>
        <div id='main'>
            <div id='body-header'>
                <p> Rutgers University </p>
                <p id='body-header-divider'> &bull; </p>
                <p> Open Software Solutions </p>
            </div>
            <div id='main-body'>
                <div id='title'>
                    <div id='primary-title-container'>
                        <img src='../statics/images/shortener_logo_white.png'>
                        <div id='title-container'>
                            <p> Shrunk </p>
                        </div>
                    </div>
                    <div id='subtitle-container'>
                        <p> Official Rutgers URL Shortener </p>
                    </div>
                </div>
                <div id='login-form'>
                    <input type='text' id='username' name='username' class='form-login-input' placeholder='Username'>
                    <input type='password' id='password' name='password' class='form-login-input' placeholder='Password'>
                    <div id='login-btn' class='form-login-input'>
                        <p> Login </p>
                    </div>
                </div>
            </div>
        </div>
        <div id='footer'>
            <!-- {% include 'index-footer.html' %} -->
        </div>
    </body>
</html>
