/* media queries */
/* Iphone 5s (portrait) ----------- */
@media only screen and (max-width:400px) {

}

/* Samsumg s6, Samsung note iphone 6, iphone 6 plus(portrait) ----------- */
@media only screen and (max-width:550px) and (min-width:401px) {
	
}

/* small tablets (portrait) ----------- */
@media only screen and (max-width:750px) and (min-width:551px) {

}


/*-------------------main--------------------*/
html{margin:0; padding:0;}

body{
margin:0;	
padding:0;
background:url('../assets/purebg.jpg') center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
overflow-x: hidden;
}

nav.navbar {
border-radius: 0px;	
}

#urlshortener{
color:rgb(204, 0, 51);
font-weight: bold;    
}

#urlshortener:hover{
cursor: default;	
}

#rulogo {
width:auto;
height: 115%;
margin-top:5%;
position: relative;
}

.jumbotron{
padding: 0;
margin: 0;
border:0px;
background-color: rgba(255,255,255,0);
}

#subjumbo{
position:inherit;
height: auto;
width:60%; 
margin-left:20%;	
}

#logobox{
padding-top:0;	
}

.breadcrumb, footer{ background: #EEEEEE; }

.breadcrumb{margin-bottom: 0;}

#searchbox{
position: relative;
z-index: 10;
top: 75%;
margin-right: auto;
}

.input-group .btn{
background: #E91E63;
color: white;
width: 90px;
}

.input-group .btn:disabled:hover:not([enabled="enabled"]) {
background: #E91E63;
color: white;
}

.input-group .btn:hover{
background: #eb3472;
color: white;
top:0.5px;
left:2px;
-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.45);
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.45);
border: 0px; 
}

#copyright{
margin-bottom: 15px;
font-size:14px;	
}

#focuspic{
width: 80%;
height: auto;
margin-left: 10%;
margin-right: 10%;
}

#linktitle{
padding-left: 4px;
padding-bottom: 5px;
overflow: hidden;
padding-right: 0;
width: 70%;   
}

#linktitle:hover{
color:white;
cursor:pointer; 
}

#titleinput{
margin-bottom: 15px;	
}

#history{
margin-top: 20px;
margin-bottom: 0px;
padding: 0;	
}

ul#pagination {
margin-top:0; 
}

ul#pagination li a{
background-color: rgba(255, 255, 255, 0.2);
color: black;
border:0;    
}

ul#pagination li.active a{
background-color: rgba(255, 255, 255, 0.6);
color: black;
border:0;    
}

#searchList {
background-color: rgba(255, 255, 255, 0.6);
border:0;
height:28px;
}

#hiddentoggle{
margin-bottom: 20px;
padding: 0;
display: none;
}

#box1{
padding-bottom: 0px;
margin-bottom: 0px;	
}

table{
margin-bottom: 0px;
}

.imgtitle{
font-weight:bold;
color:white; 	
}

.img-responsive{
margin-left: auto;
margin-right: auto;
width: 70%;
}

.modalimg{
width: 100%;	
}

#myTable, #tablehead {
background-color: rgba(255, 255, 255, 0.2);
}

#myTable_length{
display: none;
}

#myTable thead tr th:nth-child(1) input{
visibility:hidden;
}

#myTable thead tr th:nth-child(6){
text-align:center;
}

.odd td{
background-color: rgba(255, 255, 255, 0.1);	
}

#page {
padding-top:5px;
margin-top:10px; 	
}

a#statsbtn:hover{
background-color: rgba(255, 255, 255, 0.9);
border:1px solid grey;    
}

/*
#scrollbox{
max-height:237px; 
overflow-y:auto; 
}

#scrollbox::-webkit-scrollbar { width: 0 !important }
#scrollbox { -ms-overflow-style: none; }
#scrollbox { overflow: -moz-scrollbars-none; }
*/

/* -----animation----- */

#titleinput.ng-enter {
  transition: 0.3s ease all;
  opacity: 0;
}
 
#titleinput.ng-enter.ng-enter-active {
  opacity: 1;
}

#titleinput.ng-leave {
  transition: 0.3s ease all;
  opacity: 1;
}
 
#titleinput.ng-leave.ng-leave-active {
  opacity: 0;
}

main.ng-enter {
  transition: 0.3s ease all;
  opacity: 0; 
}
 
main.ng-enter.ng-enter-active {
  opacity: 1;
}

main.ng-leave {
  transition: 0.3s ease all;
  opacity: 1;
}
 
main.ng-leave.ng-leave-active {
  opacity: 0;
}

/*
#historytable tr.ng-enter {
  transition: 0.5s ease all;
  opacity: 0;
}
 
#historytable tr.ng-enter.ng-enter-active {
  opacity: 1;
}

#historytable tr.ng-leave {
  transition: 0.3s ease all;
  opacity: 1;
}
 
#historytable tr.ng-leave.ng-leave-active {
  opacity: 0;
}
*/

#pagination.ng-enter {
  transition: 0.3s ease all;
  opacity: 0; 
}
 
#pagination.ng-enter.ng-enter-active {
  opacity: 1;
